.paciente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.paciente .title_paciente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}